# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
env/
venv/
.venv/
env.bak/
venv.bak/

# Byte-compiled / optimized / DLL files
*.so

# Distribution / packaging
build/
dist/
*.egg-info/

# Pytest
.pytest_cache/

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
logs/
*.log

# Secrets
.env
